.bannerAgendamento {
    background: #cc4137;
    height: 100%;
}

.bannerAgendamento h3 {
    color: #fff;
}

.bannerAgendamento .insideBox {
    background-color: #B6000B;
    padding: 15px;
    border-radius: 0.7rem;
    color: #fff;
    margin-top: 2.5rem;
    margin-bottom: 2.8rem;
}

.bannerAgendamento .agendamentoButton {
    color: #fff;
    font-size: 64px;
    border: 5px solid #fff;
    padding: 10px;
    transition: all ease .5s;
}

.bannerAgendamento .agendamentoButton:hover {
    color: rgb(209, 205, 205);
    border-color: rgb(209, 205, 205);
}

.bannerAgendamentoImagem {
    padding-right: 0;
}

@media only screen and (max-width: 1400px) {
    .bannerAgendamento {
      max-height: 55vh;
    }
  
    .bannerAgendamento h3 {
      font-size: 1.5rem;
    }
  
    .bannerAgendamento .insideBox {
      padding: 10px;
      margin-top: 2rem;
      margin-bottom: 2.2rem;
    }
  
    .bannerAgendamento .agendamentoButton {
      font-size: 42px;
      padding: 8px;
    }
  }

@media only screen and (max-width: 900px) {
    .bannerAgendamento {
        max-width: 80%;
    }

    .bannerAgendamento h3 {
        font-size: 1rem;
    }

    .bannerAgendamento .insideBox {
        padding: 7px;
        margin-top: 1.3rem;
        margin-bottom: 1.5rem;
    }

    .bannerAgendamento .agendamentoButton {
        font-size: 30px;
        padding: 5px;
    }

    .bannerRow {
        justify-content: center;
    }
}