.post_card {
    border: none;
}

.hidden {
    display: none !important;
}

.recmic-button {
    border: none;
    padding: calc(1rem * 0.7);
    margin-right: 1rem;
}

.minhaExperiencia {
    margin-bottom: 1rem;
}

.recmic-button.rec {
    background-color: rgba(0,255,0,.2);
}

.sacbtn {
    margin-right: 1rem;
}

.recmic-button.stop {
    background-color: rgba(255,0,0,.2);
}

.sac_cardgroup {
    padding: 0 !important;
    position: relative;
    padding: 1rem;
    border: 3px solid #E30614;
    margin-bottom: 1rem;
}

.sac_cardtitle {
    margin-left: 40px;
    margin-top: calc(1rem / 2) ;
}

.sac_cardsubtitle {
    margin-left: 40px;
}

.sac_cardbody {
    padding: 0 1rem 0 1rem;
}

.sac_cardtext {
    font-size: 1.125em;
    letter-spacing: .00625rem;
    line-height: 1.875em;
}

.sac_cardgroup .quotes{
    position: absolute;
    z-index: 10;
    left: -1rem;
    top: -1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: white;
}