.footer {
    height: 20vh;
    background-color: #0B0700;
    padding-top: 20px;
}

.footer .footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer .footerContainer p {
    color: white;
}

.footer .footerContainer a:not(:first-of-type) {
    margin-left: 1.2rem;
}